[diff]
        tool = meld
[core]
        editor = vim
        whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[interactive]
    diffFilter = diff-so-fancy --patch

[color]
        ui = auto
[color "branch"]
        current = yellow reverse
        local = yellow
        remote = red
[color "diff"]
        meta = 11
        frag = magenta bold
    func = 146 bold
        old = red bold
        new = green bold
    whitespace = red reverse
    commit = yellow bold
[color "status"]
        added = yellow
        changed = red bold
        untracked = cyan
[credential]
        helper = cache --timeout=86400
[alias]
    g = git
    co = checkout
    b = branch
    d = difftool
    s = status
    bl = for-each-ref --sort=committerdate refs/heads/ --format='%(color: red)%(committerdate:short) %(color: cyan)%(refname:short) %(color:blue) %(subject) %(objectname:short)'
    lt = log --no-walk --tags --pretty='%h %d %s' --decorate=full
    l = log --name-status --graph --decorate
    la = log --tags --name-status --all --graph --decorate
    lr = log --tags --name-status --graph --decorate --remotes
    lra = log --all --tags --name-status --graph --decorate --remotes
    edit = !$EDITOR $(git status -uno --porcelain -s | awk '$1 ~ /^M|A|U/ {print $2}' )
    su = submodule update --init --recursive
    diffmain = !$EDITOR $(git diff --name-only main)
[merge]
        tool = meld
